nav {
    display: flex;
    justify-content: center;
    background-color: #cc0000;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #004080;
    color: #fff;
    border-radius: 5px;
}